@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --square-side: 60px;
  --square-pseduo-content-position-top: 140%;
  --square-pseduo-content-position-right: 140%;
}

body {
  font-family: 'Inter', sans-serif;
}

/* I have a div with the id of 'root' in my html. */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  min-height: 100vh;
}

/* board */

.board {
  display: grid;
  grid-template-columns: repeat(8, var(--square-side));
  border-radius: 10px;
  padding: 3em;
  margin: 0 4em;
  background-color: burlywood;
  background-image: url('https://images.unsplash.com/photo-1546962339-5ff89552b8ed?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  counter-reset: right-index;
  animation: fadeIn 600ms ease;
}

/* box-shadow credit: https://getcssscan.com/css-box-shadow-examples */

.square {
  height: var(--square-side);
  width: var(--square-side);
  cursor: pointer;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
  font-weight: 800;
}

.square:nth-child(n + 2):nth-child(-n + 8):nth-child(even),
.square:nth-child(n + 9):nth-child(-n + 16):nth-child(odd),
.square:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.square:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.square:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.square:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.square:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.square:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
  background: transparent;
}
/* chess board pattern credit: https://stackoverflow.com/questions/72671599/how-to-make-checkered-chess-board-pattern-with-css */

.square:nth-of-type(1) {
  border-top-left-radius: 10px;
}
.square:nth-of-type(8) {
  border-top-right-radius: 10px;
}
.square:nth-of-type(57) {
  border-bottom-left-radius: 10px;
}
.square:nth-of-type(64) {
  border-bottom-right-radius: 10px;
}

.square:nth-child(8n) {
  border-right: 2px solid white;
}

.square:nth-child(8n + 1) {
  border-left: 2px solid white;
  position: relative;
}

.square:nth-child(-n + 8) {
  border-top: 2px solid white;
}

.square:nth-last-child(-n + 8) {
  border-bottom: 2px solid white;
  position: relative;
}

.square:nth-child(8n + 1):not(.square:nth-child(57)):after {
  position: absolute;
  right: var(--square-pseduo-content-position-right);
}

.square:nth-child(1)::after {
  content: '7';
}
.square:nth-child(9)::after {
  content: '6';
}
.square:nth-child(17)::after {
  content: '5';
}
.square:nth-child(25)::after {
  content: '4';
}
.square:nth-child(33)::after {
  content: '3';
}
.square:nth-child(41)::after {
  content: '2';
}
.square:nth-child(49)::after {
  content: '1';
}

.square:nth-last-child(-n + 8):not(.square:nth-child(57)):after {
  counter-increment: right-index;
  content: counter(right-index);
  position: absolute;
  top: var(--square-pseduo-content-position-top);
}

.square:nth-child(57)::before {
  content: '0';
  position: absolute;
  top: var(--square-pseduo-content-position-top);
}

.square:nth-child(57)::after {
  content: '0';
  position: absolute;
  right: var(--square-pseduo-content-position-right);
}

.square:hover {
  background-color: gold !important;
}

/* info */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 300ms ease;
  padding: 1em;
}

.title {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}

/* controller */

input[type='checkbox'] {
  display: none;
}

.toggle {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  animation: fadeIn 450ms ease;
  margin: 1em;
}

.content {
  cursor: pointer;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  transition: background-color 300ms ease;
  position: relative;
  border-radius: 50px;
  background-color: burlywood;
  background-image: url('https://images.unsplash.com/photo-1546962339-5ff89552b8ed?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.content::after {
  content: 'Move ⭐';
  width: 100px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='checkbox']:checked + .content::after {
  content: 'Move 🐴';
  transform: translateX(100px);
}

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* media queries */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: white;
  }

  .board {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --square-side: calc(80vw / 8);
  }

  #root {
    flex-direction: column;
  }

  .board {
    padding: 0.5em;
  }

  .square:hover {
    background-color: red !important;
  }
}
